<li class="list-group-item">
  <h4 class="text-left"><%= review.user.name %></h4><p class="text-left"><%= review.created_at %></p>
  <p><%= review.description %></p>
  <span class="rating">
  <% (1..review.rating).each do %>
    <%= fa_icon "leaf" %>
  <% end %>
  </span>
  <%= link_to fa_icon('trash'), product_review_path(review, @product), class: 'btn btn-sm btn-danger pull-right', method: :delete, data: { confirm: "Are you sure?" } %>
</li>